@model PostViewModel

<div>
    <div>
        <a asp-action="New" class="btn btn-primary">post img</a>
    </div>

    @*@if (Model.CurrentTag != "") {
        <div class="text-center">
            <h5><u>@Model.CurrentTag</u></h5>
        </div>
    }*@

    @foreach (Post post in Model.Posts) {
        <div class="card mt-2">
            <div class="post-image-container">
                <img src="~/uploads/@Url.Content(post.ImageName)" />
            </div>
            <div class="card-body">
                <h5 class="card-title">@post.Title</h5>
                <p class="card-text">@post.Description</p>
            </div>
            @if (post.TagsRealtions != null) {
                <div class="card-footer">
                    @foreach (Tag tag in post.TagsRealtions.Select(x => x.Tag)) {
                        <a asp-controller="Posts" asp-action="Index" asp-route-tag="@tag.Value" asp-route-page="@null"><small class="@(ViewBag.CurrentTag == tag.Value ? "font-weight-bold" : "")">@tag.Value</small></a>
                    }
                </div>
            }
        </div>
    }
</div>
